{% include '../includes/head.html' %}

{% block head %}
  <link href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
{% endblock %}

<body>
  <div class="wrapper">

    {% block main %}{% endblock %}

    <!-- <div class="messages">
      {% include '../includes/messages.html' %}
    </div> -->

    {% block content %}{% endblock %}
    
  </div>

  {% include '../includes/foot.html' %}

  {% block foot %}
    <script src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="lib/sha3.js"></script>
    <!-- <script src="lib/vendor.js"></script> -->
    <script src="build/app.js"></script>
  {% endblock %}
</body>
</html>
