{% extends 'layouts/default.html' %}

{% block head %}
  <!-- MetisMenu CSS -->
  <link href="bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
  <!-- Timeline CSS -->
  <link href="css/timeline.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="css/sb-admin-2.css" rel="stylesheet">
  <!-- Morris Charts CSS -->
  <link href="bower_components/morrisjs/morris.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div id="content"></div>
{% endblock %}

{% block foot %}
  <!-- Metis Menu Plugin JavaScript -->
  <script src="bower_components/metisMenu/dist/metisMenu.min.js"></script>
  <!-- Morris Charts JavaScript -->
  <script src="bower_components/raphael/raphael-min.js"></script>
  <script src="bower_components/morrisjs/morris.min.js"></script>
  <script src="lib/morris-data.js"></script>
  <!-- Custom Theme JavaScript -->
  <script src="lib/sb-admin-2.js"></script>
  <!-- Application -->
  <script src="build/admin.js"></script>
{% endblock %}
