body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.w20 {
	width: 20%;
}
.w20+input {
	margin: 1px;
}
div.mgb5px {
	margin-bottom: 5px;
}
.heading-button {
	padding: 0;
	padding-left: 15px;
	height: 36px;
	line-height: 36px;
}
#loginform {
	margin: 0 auto;
}
#remember {
	margin-right: 5px;
}